<div class="row grey lighten-4 light grey-text text-darken-2" style="margin-bottom: 0px; width: 100%;">
    {% if entity.comments.all|length %}
        <div class="col s12 center">
            <h3 class="light grey-text text-darken-2">Comments</h3>
        </div>
        <div class="col s12 m6 offset-m3 x4 offset-l4 xl3 offset-xl4">
            {% for comments in entity.comments.all %}
                <p class="light left-align valign-wrapper">
                    <i class="small material-icons blue-grey-text text-darken-1">chevron_right</i>
                    {{ comments.text }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
</div>