{% extends '_layout.html' %}
{% load widgets %}
{% load static %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-4 has-text-centered">
                <p class="is-size-3	">Ooops, 500!</p>
                <br/>
                <p class="is-size-5">Sorry guys, i had to disable the public access.</p>
                <p class="is-size-6">You can get what you are looking for at the github or over the API using the
                    command line application.</p>
                <br/>
                <a href="https://github.com/orgs/area-of-dev" class="right">
                    GitHub&nbsp;
                </a>

            </div>
        </div>
        <br/>
    </div>
</section>
{% endblock body %}




