{% load widgets %}
{% load static %}

<div class="center">

    <div class="row">
        <div class="col s8 offset-s2">
            <h2 class="light grey-text text-darken-2">
                AppImage repository
            </h2>
            <p class="light grey-text text-darken-2">
                The home of <b>{{total }}</b> high-quality apps which can be
                easily installed on any modern Linux distribution.
            </p>
        </div>
        <div class="col s12 l6 offset-l3">
            <p class="light grey-text text-darken-2">
                <a href="{% url 'package' 'apprepo' %}">
                    <img src="{% static 'default/apprepo.gif' %}">
                </a>
            </p>
            <p class="light grey-text text-darken-3">
                Apprepo is a non-profit volunteer project. <br/> Although every effort is made to ensure that everything
                in the repository is safe to install, you use it <b>AT YOUR OWN RISK</b>
            </p>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 0px; width:100% z-index: 10;">
    <div class="col s4 m6 xl4 hide-on-small-only offset-xl2">
        <img src="{% static 'default/laptop.png' %}"
             class="materialboxed" style="z-index: -1;">
    </div>
    <div class="col s12 m6">
        <div class="row">
            {% for group in collection %}
            <div class="col s12 m6 xl4">
                <div class="card-panel grey lighten-3 z-depth-3 hoverable ">
                    <div class="row valign-wrapper">
                        <div class="col s2" style="height:27px;">
                            <a href="{% url 'package_group' group.id %}"
                               class="card-title grey-text text-darken-2 truncate">
                                <img src="{{ group.icon.url }}" alt="" class="circle responsive-img">
                            </a>
                        </div>
                        <div class="col s10">
                            <a href="{% url 'package_group' group.id %}"
                               class="card-title grey-text text-darken-2 truncate">
                                {{ group.name }} ({{ group.packages.count }} apps)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>