<aside class="menu">
    <a class="menu-label">
        © {% now "Y" %} A.O.D.
    </a>
    |
    <a href="{% url 'page' 'terms-and-conditions' %}"
       class="menu-label">
        Terms and Conditions
    </a>
    |
    <a href="{% url 'page' 'data-protection' %}"
       class="menu-label">
        Datenschutz
    </a>
    |
    <a href="{% url 'page' 'impressum' %}"
       class="menu-label">
        Impressum
    </a>
    |
    <a href="{% url 'page' 'github' %}"
       class="menu-label">
        Github
    </a>
</aside>

