<ul class="right hide-on-med-and-down">
    <li>
        <a href="{% url 'package_dashboard' %}" class="navbar-item">
            Dashboard
        </a>
    </li>
    <li>
        <a href="{% url 'page' 'motivation' %}" class="navbar-item">
            Motivation
        </a>
    </li>
    <li>
        <a href="{% url 'page' 'how-it-works' %}" class="navbar-item">
            How it works
        </a>
    </li>
    <li>
        <a href="{% url 'page' 'about-us' %}" class="navbar-item">
            About Us
        </a>
    </li>
    <li>
        <a href="{% url 'schema-swagger-ui' %}" class="navbar-item">
            Swagger
        </a>
    </li>
</ul>


