<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AOD - Application store</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .card { height: 100%; }
    </style>
</head>

<body>
{% block body %}
{% load widgets %}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="{% url 'package_dashboard' %}" class="brand-logo">
                <img src="/uploads/logo.png" class="materialboxed" width="150">
            </a>
            {% widget 'menu.main' %}
        </div>
    </div>
</nav>

{% block layout %}
<div class="container">
    <div class="row">
        <div class="col s3">
            {% widget 'dashboard.sidebar' %}
        </div>
        <div class="col s9">
            {% block title %}
            {% endblock title %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
{% endblock layout %}

<footer class="page-footer">
    <div class="container">
        © {% now "Y" %} A.O.D. {% widget 'menu.footer' %}
    </div>
    <br/>
</footer>
{% endblock body %}
</body>
</html>