{% load static %}
{% load widgets %}
<!DOCTYPE html>
<html>
    {% block html %}
        <head>
            {% block meta %}
                <title>Apprepo - Linux applications repository</title>
                <meta name="keywords" content="application, repository, linux, appimage, appstore">
                <meta name="description" content="application repository for any linux distribution">
            {% endblock meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="utf-8">

            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="stylesheet" href="https://materializecss.com/css/ghpages-materialize.css">
            <link rel="stylesheet" href="{% static 'theme/apprepo.css' %}">

            <link rel="icon" href="{% static 'icons/apprepo.svg' %}" type="image/x-icon"/>
            <link rel="icon shortcut" href="{% static 'icons/apprepo.svg' %}" type="image/x-icon"/>
            <!-- Compiled and minified JavaScript -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171651818-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-171651818-1');
            </script>
        </head>

        <body>
            {% block body %}
                <nav class="nav-extended grey lighten-3">
                    <div class="nav-wrapper ">
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col s12 m2">
                                <a href="{% url 'package_dashboard' %}" class="brand-logo">
                                    <img src="{% static 'default/logo.png' %}"
                                         style="height: 1.8em; margin-left: 20px;">
                                </a>
                            </div>
                            <div class="col s6 orange-text text-darken-3 hide-on-med-and-down">
                                This is an alpha-version, you use it <b> AT YOUR OWN RISK</b>!
                            </div>
                            <div class="col s4 valign-wrapper white hide-on-med-and-down">
                                <form method="get" action="{% url 'package_dashboard' %}">
                                    <div class="input-field">
                                        <div class="row" style="margin:0px;">
                                            <div class="col s10">
                                                <i class="material-icons prefix orange-text text-darken-3">search</i>
                                                <input type="text" class="validate" name="search" id="search"
                                                       placeholder="Enter search string...">
                                            </div>
                                            <div class="col s2">
                                                <a class="waves-effect waves-light btn-small orange pulse">
                                                    YOLO!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>

            {% block layout %}
                    <div class="center">
                        {% block title %}
                        {% endblock title %}
                    </div>
                    {% block content %}
                    {% endblock content %}
                {% endblock layout %}
                <footer class="page-footer docs-footer grey lighten-5" style="margin-top: 0px;">
                    <div class="container">
                        <div class="col s12 m10 offset-m1">
                            <div class="row">
                                <div class="col s12">
                                    <h5>Powered By Open Source:</h5>
                                </div>
                                <div class="col s12">
                                    <div class="patreon-footer-ad">
                                        <a href="https://www.python.org/" alt="django" target="_blank" rel="noopener">
                                            <img src="{% static 'default/python.svg' %}" alt="django">
                                        </a>
                                    </div>
                                    <div class="patreon-footer-ad">
                                        <a href="https://www.djangoproject.com/" alt="django" target="_blank" rel="noopener">
                                            <img src="{% static 'default/django.svg' %}" alt="django" style="width:120px">
                                        </a>
                                    </div>
                                    <div class="patreon-footer-ad">
                                        <a href="https://www.nginx.com/" alt="nginx" target="_blank" rel="noopener">
                                            <img src="{% static 'default/nginx.svg' %}" alt="nginx" style="width:120px">
                                        </a>
                                    </div>
                                    <div class="patreon-footer-ad">
                                        <a href="https://mariadb.org/" alt="mariadb" target="_blank" rel="noopener"
                                        class="black-text" style="vertical-align: middle;">
                                            <img src="{% static 'default/mariadb.svg' %}" alt="mariadb">
                                        </a>
                                    </div>
                                    <div class="patreon-footer-ad">
                                        <a href="https://www.centos.org/" alt="centos" target="_blank" rel="noopener"
                                        class="black-text" style="vertical-align: middle;">
                                            <img src="{% static 'default/centos.svg' %}" alt="centos">
                                        </a>
                                    </div>
                                    <div class="patreon-footer-ad">
                                        <a href="https://appimage.org/" alt="appimage" target="_blank" rel="noopener"
                                        class="black-text" style="vertical-align: middle;">
                                            <img src="{% static 'default/appimage.svg' %}" alt="appimage">
                                            <h4 style="vertical-align: middle; margin:0px;">&nbsp;AppImage</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;© {% now "Y" %} A.O.D. {% widget 'menu.footer' %}
                    </div>
                    <br/>
                </footer>
            {% endblock body %}
        </body>
    {% endblock html %}
</html>