<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AOD - Application store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .card { height: 100%; }
    </style>
</head>

<body>
{% block body %}
{% load widgets %}
<nav class="bd-navbar navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'package_dashboard' %}">
                <img src="/uploads/logo.png" >
            </a>
        </div>
        <div class="navbar-start" style="margin-left:80px;">
            {% widget 'menu.main' %}
        </div>
        <div class="navbar-end">
            {% widget 'dashboard.search' %}
        </div>
    </div>
    </div>
</nav>

<section class="section">
    {% block layout %}
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                {% widget 'dashboard.sidebar' %}
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    {% endblock layout %}
</section>
<footer class="footer">
    <div class="content has-text-centered">
        {% widget 'menu.footer' %}
    </div>
</footer>
{% endblock body %}
</body>
</html>