.scroll-container {
    margin-top: 20%;
    left: 3%;
    position:relative;
}

.scroll-container .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 700px;
    width: 100%;
}

.scroll-container .fadeout-top {
    position: relative;
    width: 100%;
    top: 4em;
    height: 4em;
    z-index:9999;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
.scroll-container .fadeout-bottom {
    position: relative;
    width: 100%;
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}