[Unit]
Description=Apprepo server
After=syslog.target network.target
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=apprepo
Group=apprepo
UMask=0000
Type=simple
Restart=always
TimeoutStartSec=3
ExecStart=/srv/apprepo/apprepo.AppImage --config=/etc/apprepo/apprepo.conf
StandardError=/var/log/apprepo/apprepo-errors.log
StandardOutput=/var/log/apprepo/apprepo.log
