{% load widgets %}
{% load static %}

<div class="center">
    <h2 class="light grey-text text-darken-2">
        AppImage repository
    </h2>
    <p class="light grey-text text-darken-2">
        The home of <b>{{total }}</b> high-quality apps which can be
        easily installed on any
        modern Linux distribution.
    </p>
    <br/>
</div>
<div class="row" style="margin-bottom: 0px; width:100% z-index: 10;">
    <div class="col s12">
        <div class="row">
            {% for group in collection %}
                  <div class="col s6 m4 l3 xl2 ">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                      <div class="row valign-wrapper">
                        <div class="col s2" style="height:27px;">
                            <a href="{% url 'package_group' group.id %}"
                               class="card-title grey-text text-darken-2 truncate">
                                  <img src="{{ group.icon.url }}" alt="" class="circle responsive-img">
                            </a>
                        </div>
                        <div class="col s10">
                            <a href="{% url 'package_group' group.id %}"
                               class="card-title grey-text text-darken-2 truncate">
                                {{ group.name }} ({{ group.packages.count }} apps)
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>
</div>