<div class="tile is-parent is-vertical">
    {% for package in collection %}
        <div class="card horizontal">
            <div class="card-image">
                <a href="{% url 'package' package.id %}">
                    {% if package.image %}
                    <img src="{{ package.image.url }}" alt="{{ package.name }}" width="300">
                    {% else %}
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ package.name }}">
                    {% endif %}

                    <span class="card-title">
                                {{ package.name }}
                            </span>
                </a>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    {% autoescape off %}
                    <p>{{ package.description }}</p>
                    {% endautoescape %}

                </div>
                <div class="card-action">
                    <a href="{% url 'package' package.id %}">
                        show me more...
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
