{% load widgets %}
{% load static %}

<ul id="nav-mobile" class="sidenav sidenav-fixed" >
    <li class="bold center">
        <br/>
        <a href="{% url 'package_dashboard' %}" class="brand-logo">
            <img src="{% static 'default/logo.png' %}" width="150" id="front-page-logo">
        </a>
        <br/>
        {% widget 'dashboard.search' %}
    </li>
    {% for group in collection %}
    <li class="bold">
        <a href="{% url 'package_group' group.id %}" class="waves-effect waves-teal">
            <span class="title">{{ group.name }}</span>
            <span class="badge">{{ group.packages.count }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
