{% load static %}
<footer class="footer">
    <div class="content has-text-centered is-size-6">
        &nbsp;© {% now "Y" %} A.O.D.
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="{% url 'page' 'terms-and-conditions' %}" class="right">
            &nbsp; Terms and Conditions&nbsp;|&nbsp;
        </a>
        <a href="{% url 'page' 'data-protection' %}" class="right">
            Datenschutz&nbsp;|&nbsp;
        </a>
        <a href="{% url 'page' 'impressum' %}" class="right">
            Impressum&nbsp;|&nbsp;
        </a>
        <a href="{% url 'schema-swagger-ui' %}" class="right">
            Swagger&nbsp;|&nbsp;
        </a>
        <a href="{% url 'page' 'github' %}" class="right">
            Github&nbsp;
        </a>
    </div>
</footer>
