{% extends '_layout.html' %}
{% load widgets %}


{% block body %}
{% load widgets %}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="{% url 'package_dashboard' %}" class="brand-logo">
                <img src="/uploads/logo.png" class="materialboxed" width="150">
            </a>
            {% widget 'menu.main' %}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s3">
            {% widget 'dashboard.sidebar' %}
        </div>
        <div class="col s9">

            <div class="row">
                <div class="col s12">
                    <h4 class="title">Welcome to Apprepo</h4>
                </div>
                <div class="col s12">
                    {% widget 'dashboard.search' %}
                    <p>
                        the home of <span class="tag is-light is-info">{{total }}</span>
                        high-quality apps which can be easily installed on
                        any Linux distribution.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s6">
                            {% widget 'dashboard.featured' %}
                        </div>
                        <div class="col s6">
                            {% widget 'dashboard.latest' %}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    {% widget 'dashboard.popular' %}
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
        © {% now "Y" %} A.O.D. {% widget 'menu.footer' %}
    </div>
    <br/>
</footer>
{% endblock body %}




