{% extends '_layout.html' %}
{% load widgets %}
{% load static %}

{% block body %}
{% load widgets %}
<header>
    <div class="container">
        <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>
    {% widget 'dashboard.sidebar' %}
</header>
<main>
    <div class="container" style="margin-top: 10%; margin-bottom:10%;">
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12 m8 offset-m1 xl10 offset-xl1">
                <h1 class="header center">Apprepo</h1>
                <p class="caption center">
                    The home of <b>{{total }}</b> high-quality apps which can be easily installed on
                    any Linux distribution.
                </p>
                <form method="get" action="{% url 'package_dashboard' %}">
                    <div class="row">
                        <div class="input-field col s9">
                            <input type="text" class="validate " name="search" id="search"
                                   placeholder="Enter search string...">
                        </div>
                        <div class="input-field col s3">
                            <input type="submit" class="waves-effect waves-light btn  red lighten-2" value="YOLO!"/>
                        </div>
                    </div>
                </form>

                <p class="caption">
                    Apprepo is a non-profit volunteer project. Although every effort is made to ensure that
                    everything in the repository is safe to install, you use it <b>AT YOUR OWN RISK</b>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="center promo">
                    <i class="material-icons">thumb_up</i>
                    <p class="promo-caption">Simple</p>
                    <p class="light center">No dependency management systems necesary.<br/>
                        The apprepo provides applications using the AppImage format. This approach allows to
                        create a single package compatible with a wide range of GNU/Linux distributions.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="center promo">
                    <i class="material-icons">touch_app</i>
                    <p class="promo-caption">Easy to work with</p>
                    <p class="light center">Each application provided by a single file. Download the AppImage, give
                        execute permission and run. To remove the application from the system just remove the file.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="center promo">
                    <i class="material-icons">sentiment_very_satisfied</i>
                    <p class="promo-caption">User Experience Focused</p>
                    <p class="light center">Our focus is the user experience no matter what. Thus, we may ship the JRE
                        / Mono / Qt / Python or anything else with the package. The aim is to be able to download the package and
                        run.</p>
                </div>
            </div>

        </div>
    </div>

    <br/><br/><br/><br/>
    <br/><br/><br/><br/>

</main>
<footer class="page-footer docs-footer">
    <div class="container">
        © {% now "Y" %} A.O.D. {% widget 'menu.footer' %}
    </div>
    <br/>
</footer>
{% endblock body %}




