{% extends '_layout.html' %}
{% load math %}

{% block meta %}
    <title>Apprepo - {{ entity.name }}</title>
    <meta name="keywords" content="application, repository, linux, appimage, appstore">
    <meta name="description" content="{{ entity.description|striptags }}">
{% endblock meta %}

{% block title %}
{% autoescape off %}
<h1 class="header">{{ entity.name }}</h1>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape off %}
    <p>{{ entity.description }}</p>
{% endautoescape %}

{% load widgets %}

{% widget 'dashboard.sidebar' %}
<div class="row">
    {% for package in entity.packages.all %}
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <a href="{% url 'package' package.slug %}">
                    {% if package.image %}
                    <img src="{{ package.image.url }}" alt="{{ package.name }}" width="300">
                    {% else %}
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ package.name }}">
                    {% endif %}

                    <span class="card-title">
                        {{ package.name }}
                    </span>
                </a>
            </div>
            <div class="card-content">
                <p>
                    {% autoescape off %}
                    {{ package.description }}
                    {% endautoescape %}
                </p>
                <a href="{% url 'package' package.slug %}">
                    show me more...
                </a>
            </div>
            <div class="card-action">
                {% if package.version %}
                <a class="btn-floating btn-small waves-effect waves-light green"
                   href="{% url 'package_download' package.slug %}" title="Download">
                    <i class="material-icons">file_download</i>
                </a>&nbsp;
                {% endif %}
                {% if package.homepage|length %}
                <a class="btn-floating btn-small waves-effect waves-light blue"
                   href="{{ package.homepage }}" target="_blank" title="Home page">
                    <i class="material-icons">home</i>
                </a>&nbsp;
                {% endif %}
            </div>
        </div>
    </div>

    {% if forloop.counter|modulo:'2' == 0 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
