{% extends '_layout.html' %}
{% load widgets %}
{% load static %}
{% load widgets %}

{% block meta %}
    <title>Apprepo - AppImage: {{ entity.name }}</title>
    <meta name="keywords" content="application, repository, linux, appimage, appstore">
    <meta name="description" content="{{ entity.description|striptags }}">
{% endblock meta %}

{% block title %}
    <div class="row" style="margin-bottom: 30px;">
        <div class="col s2" style="margin-top:50px;">
            <a class="waves-effect waves-light btn-large grey lighten-3 grey-text text-darken-2"
                href="javascript: window.history.back();">
                <i class="material-icons left">chevron_left</i>back
            </a>
        </div>
        <div class="col s8 offset-s1">
            <h1 class="header grey-text text-darken-1">AppImage: {{ entity.name }}</h1>
        </div>
        {% if entity.description|length %}
            <div class="col s10 offset-s1 center">
                {{ entity.description|safe }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col s7">
            {% for image in entity.images %}
                {% if forloop.counter == 1 %}
                <div class="card hoverable">
                    <div class="card-image z-depth-3">
                        <img src="{{ image.url }}" alt="Placeholder image" 
                        style="responsive-img materialboxed ">
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                {% for image in entity.images %}
                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image z-depth-3">
                                <img src="{{ image.url }}" alt="Placeholder image" 
                                style="responsive-img materialboxed">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col s4 offset-s1">
            <div class="row">
                {% if entity.homepage|length %}
                    <div class="col s12">
                        <h5>Home page</h5>
                        <span nowrap>
                            <a class="waves-effect waves-light btn red"
                                href="{{ entity.homepage }}" target="_blank">
                                <i class="material-icons right">arrow_forward</i>
                                {{ entity.homepage }}
                            </a>                    
                        </span>
                        <br/><br/>
                    </div>
                {% endif %}

                {% if entity.version %}
                    <div class="col s12">
                        <h5>Latest version</h5>
                        <p>
                        <h6>MD5 Hash:</h6> {{ entity.version.hash }}</p>
                        <a class="waves-effect waves-light btn-large green"
                            href="{% url 'package_download' slug=entity.slug %}">
                            <i class="material-icons right">file_download</i>
                            Download
                        </a>
                        <p>
                        <h6>Updated at:</h6> {{ entity.version.created|date:'Y M d' }}</p>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                {% if entity.groups.all|length %}
                    <div class="col s12">
                        <h5>Categories:</h5>
                        {% for group in entity.groups.all %}
                            <div class="row valign-wrapper grey-text text-darken-1">
                                <div class="col s2">
                                    <a href="{% url 'package_group' group.id %}" class="title">
                                        <img src="{% static 'icons/package.svg' %}" alt="{{ group.name }}"
                                            class="circle responsive-img">
                                    </a>
                                </div>
                                <div class="col s10 ">
                                    <a href="{% url 'package_group' group.id %}" class="title grey-text text-darken-1">
                                        <h5>{{ group.name }}</h5>
                                        <div>{{ group.description }}</div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        <br/>
                    </div>
                {% endif %}

                {% if entity.comments.all|length %}
                    <div class="col s12">
                        <h5>Comments:</h5>
                        <ul type="1">
                            {% for comments in entity.comments.all %}
                            <li>{{ comments.text }}</li>
                            {% endfor %}
                        </ul>
                        <br/>
                    </div>
                {% endif %}
                {% if entity.versions.all|length %}
                    <div class="col s12">
                        <h5>Build history:</h5>
                        <ul type="1" class='grey-text text-darken-2'>
                            {% for version in entity.versions.all %}
                                <li>{{ version.name }}, {{ version.description }}</li>
                            {% endfor %}
                        </ul>            
                    </div>            
                {% endif %}
            </div>
        </div>
    </div>
</main>    
{% endblock %}