{% extends '_layout.html' %}
{% load math %}
{% load widgets %}

{% block meta %}
<title>Apprepo - {{ request }}</title>
<meta name="keywords" content="application, repository, linux, appimage, appstore">
<meta name="description" content="{{ request }}">
{% endblock meta %}


{% block title %}
<div class="row">
    <div class="col s2" style="margin-top:50px;">
        <a class="waves-effect waves-light btn-large grey lighten-3 grey-text text-darken-2"
           href="javascript: window.history.back();">
            <i class="material-icons left">chevron_left</i>back
        </a>
    </div>
    <div class="col s5 offset-s1">
        <h1 class="header grey-text text-darken-1">
            Searching: {{ request }}
        </h1>
    </div>
    <div class="col s8 offset-s1 center">
        <p class="caption">
            Apprepo is a non-profit volunteer project. Although every effort is made to ensure that
            everything
            in the repository is safe to install, you use it <b>AT YOUR OWN RISK</b>. Wherever
            possible,
            applications
            in the repository are built from source, and that source code is checked for potential
            security or
            privacy issues. This checking is <b>far from exhaustive</b> though, and there are <b>no
            guarantees</b>.
        <p>
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="row" style="max-width: 1800px !important; ">
        {% for package in collection %}
        <div class="col l3 s12">
            <div class="card hoverable">
                <div class="card-image grey lighten-4" style="height: 250px;">
                    <a href="{% url 'package' package.slug %}">
                        {% if package.image %}
                        <img src="{{ package.image.url }}" alt="{{ package.name }}"
                             class="responsive-img">
                        {% else %}
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ package.name }}"
                             class="responsive-img">
                        {% endif %}
                    </a>
                    <span class="card-title truncate grey-text white">
                        {{ package.name }}
                    </span>
                </div>
                <div class="card-content hide-on-med-and-down" style="height: 250px;">
                    <p class="hide-on-med-and-down">
                        {% autoescape off %}
                        {{ package.description }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="card-action">
                    {% if package.version %}
                    <a class="btn-floating btn-small waves-effect waves-light green"
                       href="{% url 'package_download' package.slug %}" title="Download">
                        <i class="material-icons">file_download</i>
                    </a>&nbsp;
                    {% endif %}
                    {% if package.homepage|length %}
                    <a class="btn-floating btn-small waves-effect waves-light blue"
                       href="{{ package.homepage }}" target="_blank" title="Home page">
                        <i class="material-icons">home</i>
                    </a>&nbsp;
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
