{% extends '_layout.html' %}
{% load widgets %}
{% load static %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-4 has-text-centered">
                <a href="/" class="logo">
                    <img title="apprepo" src="/static/img/logo.png">
                </a>
                <br/><br/>
                <p class="is-size-5">Sorry guys, but I have had to disable public access.</p>
                <p class="is-size-6">You can still find the information you are looking for on GitHub or through the API using the command line application.</p>
                <br/>
                <a href="https://github.com/orgs/area-of-dev" class="right">
                    GitHub&nbsp;
                </a>
            </div>
        </div>
        <br/>
    </div>
</section>
{% endblock body %}




