{% extends '_layout.html' %}
{% load widgets %}
{% load static %}
{% load fullurl %}
{% load math %}

{% block body %}
<div class="container" style="margin-top:15px;">
    <div class="container">
        <div id="PackageHeaderSearchScreen"
             data-source="{% url 'package-list' %}">
        </div>
        <script src="{% static 'js/PackageHeaderSearchScreen.js' %}"></script>
    </div>
</div>

<section class="section">
    <div class="container">
        <h1 class="title">
            {% autoescape off %}
            {{ entity.name }}
            {% endautoescape %}
        </h1>
        <div class="content">
            {% autoescape off %}
            {{ entity.content }}
            {% endautoescape %}
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}
